/************************* Font Embeds *************************/
@font-face {
    font-family: "Calistoga";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Calistoga-Regular.ttf");
}

@font-face {
    font-family: "Crimson Text";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/CrimsonText-Regular.ttf");
}

@font-face {
    font-family: "Crimson Text";
    font-style: italic;
    font-weight: normal;
    src:url("../fonts/CrimsonText-Italic.ttf");
}

@font-face {
    font-family: "Crimson Text";
    font-style: normal;
    font-weight: bold;
    src:url("../fonts/CrimsonText-Bold.ttf");
}

@font-face {
    font-family: "Crimson Text";
    font-style: italic;
    font-weight: bold;
    src:url("../fonts/CrimsonText-BoldItalic.ttf");
}

@font-face {
    font-family: "Anonymous Pro";
    font-style: normal;
    font-weight: normal;
    src:url("../fonts/AnonymousPro.ttf");
}
